body {
background: black url("https://c2.staticflickr.com/6/5193/29497261504_9297c8f922_b.jpg") no-repeat center;
            margin-right: 1000px;
}

h1 {
color: white;
       border-bottom: 1px solid lightpink;
       font-family: monospace, cursive;
}
/* mouse over*/
h1:hover {
color: pink;
   }

p {
color: white;
       font-family: cursive, monospace;
right: 20px

}

p:hover {
color: pink;
  }

img {
opacity: 0.9;
filter: alpha(opacity=50);
}
img:hover {
opacity: 1.0;
filter: alpha(opacity=100);
    }

audio { 
   display:none;
}
