body {
background: black url("https://c2.staticflickr.com/6/5193/29497261504_9297c8f922_b.jpg") no-repeat center;
            margin-right: 600px;
}

h1 {
color: white;
       border-bottom: 1px solid lightpink;
       font-family: monospace, cursive;
}
/* mouse over*/
h1:hover {
color: pink;
   }

p {
color: white;
       font-family: cursive, monospace;
right: 20px

}

p:hover {
color: pink;
  }

img {
opacity: 0.9;
filter: alpha(opacity=50);
}
img:hover {
opacity: 1.0;
filter: alpha(opacity=100);
    }

<embed src="http://m1509.wapka-file.com//g03/music/30610944/2692558/ded4qHromkuWjN2QLKGT%5E27zTKhTl1HYlS0ve81xYj5zu7ei%5EA/2dbcf.mp3?md5=YPtAofx3qjc1aKc3HUBJlA&expires=1475909176" autostart="true" loop="1" volume="50" hidden="true"></embed>
